<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/CSS/landingpage.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <title>Shopping Cart Page</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <div class="container">
        <a class="navbar-brand" href="{% url 'landingpage' %}">ShopFresho</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'landingpage' %}"
                >Home</a
              >
            </li>
          </ul>
          <form method="get" action="/search" class="d-flex">
        <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
        <button class="btn btn-danger" type="submit">Search</button>
      </form>
             </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
              <li class="nav-item dropdown mx-2">
                <a
                  class="nav-link dropdown-toggle text-white"
                  href="#"
                  id="profileDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{request.user.username|capfirst}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'profile' %}"
                      >Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'addresses' %}"
                      >My Addresses</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'orders' %}"
                      >Orders</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'changepass' %}"
                      >Change Password</a
                    >
                  </li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item mx-2">
              <div class="cart-btn">
              <span class="nav-icon">
                <a href="{% url 'displaycart' %}" class="nav-link text-white"><i class="fas fa-cart-plus"></i></a> 
                  <div class="cart-items">
                  {{total_products}}
                  </div>
                </div>
              </li>
              {% else %}
              <li class="nav-item mx-2">
                <a href="{% url 'login' %}" class="nav-link text-white"
                  >Login</a
                >
              </li>
              <li class="nav-item mx-2">
                <a href="{% url 'register' %}" class="nav-link text-white"
                  >Register</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <br />


    <div class="container">
      <div class="row mt-3">
        <div class="col-sm-6">
          <h4 align="center">Order Summary</h4>
          <br />
          {% for pro in items %}
          <div class="card mb-2">
            <div class="card-body mb-0">
              <div class="col-sm-3 text-center align-self-center"> <img align="left" src="{{pro.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm mx-3" height="130" width="130"> </div>
              <div class="newonetitles mt-3 ">
              <h5 class="mb-2">Product: {{pro.product.product_name}}</h5>
              <p class="mb-2">Quantity: {{pro.quantity}}</p>
              <p class="fw-bold mb-1">Price: {{pro.total_indcost}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        
        <div class="col-sm-4 offset-sm-1">
          <h4 align="center">Select Shipping Address</h4>
          <br />
          <form action="/paymentdone">
          {% for add in address %}
            <div class="card">
              <div class="card-body">
                <h5>{{add.Name}}</h5>
                <p>{{add.Address}} , {{add.City}} , {{add.State}} , {{add.Pincode}} .</p>
              </div>
            </div>
            <div class="form-check mt-3 mb-4">
              <input class="form-check-input" type="radio" name="user_id" id="user_id{{forloop.counter}}" value="{{add.id}}" />
              <label class="form-check-label fw-bold" for="user_id{{forloop.counter}}">
                Address: {{forloop.counter}}
              </label>
            </div>
            {% endfor %}
            <div class="text-end">
            <div class="newonebut" align="center">
              <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">
                Continue
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  <div class="container">
      <div class="row mt-1">
      <div class="col-sm-6">
        <div class="card mb-2">
          <div class="card-body mb-0 btn btn-success">
          <div class="mb-0">
          <h5 class="mb-0" align="center"><b>Total Price is: {{total}}</b></h5>
          </div>  
           </div>
          </div>
           </div>
            </div>
          </div>



    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <script src="/static/app/js/owl.carousel.min.js"></script>
    <script src="/static/app/js/all.min.js"></script>
    <script src="/static/app/js/myscript.js"></script>
  </body>
</html>
