@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primaryColor: #67bb46;
  --mainWhite: rgb(255, 255, 255);
  --mainBlack: rgb(255, 255, 255);
  --mainGrey: #e8ffca;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --stockoff:rgb(236, 84, 84);
}

.nav-icon {
  font-size: 1.2rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  font-size: 1rem;
  position: absolute;
  top: -6px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

